* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

@font-face {
	font-family: "Song-jp";
	src: url('https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/font/Song-jp.otf');
	font-family: "Song-cns";
	src: url('https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/font/Song-cns.otf');

}


body {
	position: relative;
	min-height: 100%;
	background-image: url("https://s1.328888.xyz/2022/02/10/Gy8cM.jpg");
	background-color: #1E2E5D;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 14px;
	font-family: "Song-jp", "Song-cns", Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, "Microsoft JhengHei", "MicrMicrosoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 2;
	margin: 0;
	cursor: url('https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/cursor/norm.cur'), auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	margin: 1rem 0 .7rem;
	color: #1E2E5D;
	font-weight: 700
}

hr {
	position: relative;
	margin: 2rem auto;
	width: calc(100% - 4px);
	border: 2px dashed #1E2E5D;
	background: rgba(255, 255, 255, 0.0);
	box-sizing: content-box;
	height: 1px;
	overflow: visible;
}

li,
span,
p {
	cursor: url('https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/cursor/text.cur'), auto;
}

a {
	background-color: transparent;
	color: #1E2E5D;
	cursor: url('https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/cursor/preg.cur'), auto;
	text-decoration: none;
}

strong {
	color: #1E2E5D;
}

#body-wrap {
	position: relative;
	display: box;
	display: flex;
	box-flex: 1;
	flex: 1 auto;
	-webkit-box-orient: vertical;
	flex-direction: column;
	transition: all .5s;
}

#nav.not_index_bg {
	height: 20rem;
}

#nav {
	position: relative;
	margin-top: -2rem;
	width: 100%;
	/*background-color: #49b1f5;
    background-attachment: local;
    background-position: center;
    background-size: cover; */
}

#page_site-info {
	position: absolute;
	top: 10rem;
	width: 100%;
}

#site-title {
	color: #eee;
	text-align: center;
	text-shadow: 0.1rem 0.1rem 0.2rem rgba(30, 46, 93, 1);
	line-height: 1.5;
	font-weight: 700;
	font-size: 2rem;
	animation: titlescale 1s;
}

main {
	display: block;
}

#content-outer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

.layout_page {
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0 5px;
	max-width: 1400px;
}

#page {
	margin-top: 10px;
	width: 75%;
	border-radius: 10px;
	/* 毛玻璃 */
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	/* 毛玻璃 */
	box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
	transition: all .3s;
}

#page {
	padding: 20px 44px 44px;
}

#aside_content {
	width: 25%;
}

#aside_content .card-widget {
	overflow: hidden;
	margin: 10px 0;
	border-radius: 10px;
	/* 圆角 */
	/* 毛玻璃 */
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	/* 毛玻璃 */
	-webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
	box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

#aside_content .card-content {
	padding: 1rem 1.2rem;
}

.skillbar {
	position: relative;
	display: block;
	max-width: 360px;
	margin: 15px 10px;
	background: rgba(30, 46, 93, 0.5);
	height: 30px;
	border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

.skillbar .skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	font-size: 0.9rem;
	color: #ffffff;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}

.skillbar .skillbar-title span {
	display: block;
	background: rgba(255, 255, 255, 0.1);
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}

.skillbar .skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	color: rgba(255, 255, 255, 0.85);
}

.is-center {
	text-align: center;
}

#aside_content .card-info img {
	display: inline-block;
	padding: 5px;
	width: 120px;
	height: 120px;
	border-radius: 70px;
	vertical-align: top;
	transition: all .3s;
}

img {
	max-width: 100%;
	transition: all .2s;
}

.avatar-img {
	animation: avatar_turn_around 2s linear infinite;
}

#aside_content .card-info .author-info__name {
	font-weight: 500;
	font-size: 1.1rem;
	color: #1E2E5D;
}

aside_content .card-info .author-info__description {
	margin-top: -.3rem;
	color: #1E2E5D;
}

#aside_content .card-info .card-info-social-icons {
	margin: .3rem 0 -.3rem;
}

#aside_content .card-info .card-info-social-icons .social-icon {
	margin: 0 .5rem;
	color: #1E2E5D;
	font-size: 1.5rem;
}

.icon-size {
	font-size: 160px;
}

#aside_content .item-headline {
	font-size: .8rem;
}

#aside_content .item-headline span {
	margin-left: .5rem;
}

#aside_content .card-webinfo .webinfo {
	padding: .2rem 1rem;
}

#aside_content .card-webinfo .webinfo .webinfo-item {
	display: block;
	padding: 4px 0 0;
}

#aside_content .card-webinfo .webinfo .webinfo-item div:first-child {
	display: inline-block;
}

#aside_content .card-webinfo .webinfo .webinfo-item div:last-child {
	display: inline-block;
	float: right;
}

#footer {
	position: relative;
	margin: 1rem;
	border-radius: 10px;
	/* 毛玻璃 */
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	/* 毛玻璃 */
	box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
	background-attachment: local;
	background-position: bottom;
	background-size: cover;
}

#footer-wrap {
	position: relative;
	padding: 2rem 1rem;
	text-align: center;
}


#footer,
.layout_page,
.layout_post {
	-webkit-animation: main 1s;
	-moz-animation: main 1s;
	-o-animation: main 1s;
	-ms-animation: main 1s;
	animation: main 1s;
}

@media screen and (max-width: 500px) {
	#site-title {
		font-size: 1.8rem;
	}

}

@media screen and (min-width: 768px) {
	#site-title {
		font-size: 2.8rem;
	}

}

@media screen and (max-width: 768px) {
	.layout_page {
		padding: 0 5px !important;
	}

	#page {
		margin: 0;
		padding: 1.8rem 1.3rem;
	}
}

@media screen and (max-width: 900px) {
	#page {
		width: 100% !important;
	}

	#aside_content {
		width: 100% !important;
	}

	.layout_page {
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-o-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}


@media screen and (min-width: 900px) {
	#aside_content .card-widget {
		margin-right: 15px;
	}
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
	width: 4px;
	height: 2px;
	background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #1E2E5D;
}

/* 自定义链接按钮 */
.btn {
	height: 2.5em;
	width: 8em;
	border-radius: 4em;
	font-size: 13px;
	text-align: center;
	line-height: 2.5em;
	color: #fff;
	display: inline-block;
	letter-spacing: 1px;
	margin: 10px;
}

/* 联系方式深色背景 */
.links-of-author {
	overflow: hidden;
	margin: 10px 0;
	border-radius: 25px;
	/* 圆角 */
	/* 毛玻璃 */
	background: rgba(30, 46, 93, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	/* 毛玻璃 */
	-webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
	box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

/* 下雪效果 */
.snow-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 2;
	pointer-events: none;
	background-color: none;
}

.snow {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-animation: snow linear infinite;
	animation: snow linear infinite;
}

.snow.foreground {
	background-image: url("https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/img/home_page/snow-large.png");
	-webkit-animation-duration: 15s;
	animation-duration: 15s;
}

.snow.foreground.layered {
	-webkit-animation-delay: 7.5s;
	animation-delay: 7.5s;
}

.snow.middleground {
	background-image: url("https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/img/home_page/snowmg.png");
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
}

.snow.middleground.layered {
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}

.snow.background {
	background-image: url("https://gcore.jsdelivr.net/gh/Coolsong-max/cdn@master/img/home_page/snowbg.png");
	-webkit-animation-duration: 30s;
	animation-duration: 30s;
}

.snow.background.layered {
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
}

@-webkit-keyframes snow {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		-webkit-transform: translate3d(15%, 100%, 0);
		transform: translate3d(15%, 100%, 0);
	}
}

@keyframes snow {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		-webkit-transform: translate3d(15%, 100%, 0);
		transform: translate3d(15%, 100%, 0);
	}
}

/* 打赏 */

.qrcode {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	display: table-cell;
}


#alipay {
	background: #255ef5;
	border-color: #255ef5;
}

#wechatpay {
	background: #1aad19;
	border-color: #1aad19;
}

#ermb {
	background: #ff0000;
	border-color: #ff0000;
}


.paypal-wide {
	width: 3em;
}


.wechat .alipay .tenpay {
	display: none;
}

.modal-container {
	max-width: 750px;
}

.modal {
	align-items: center;
	bottom: 0;
	display: none;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: .4rem;
	position: fixed;
	right: 0;
	top: 0;
}

.modal:target,
.modal.active {
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
	z-index: 400;
}

.modal:target .modal-overlay,
.modal.active .modal-overlay {
	background: rgba(247, 248, 249, .75);
	bottom: 0;
	cursor: default;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.modal:target .modal-container,
.modal.active .modal-container {
	animation: slide-down .2s ease 1;
	z-index: 1;
}

.modal.modal-sm .modal-container {
	max-width: 320px;
	padding: 0 .4rem;
}

.modal.modal-lg .modal-overlay {
	background: #fff;
}

.modal.modal-lg .modal-container {
	box-shadow: none;
	max-width: 960px;
}

.modal-container {
	background: #fff;
	border-radius: .1rem;
	box-shadow: 0 .2rem .5rem rgba(48, 55, 66, .3);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-height: 75vh;
	max-width: 640px;
	padding: 0 .8rem;
	width: 100%;
}

.modal-container.modal-fullheight {
	max-height: 100vh;
}

.modal-container .modal-header {
	color: #303742;
	padding: .8rem;
}

.modal-container .modal-body {
	overflow-y: auto;
	padding: .8rem;
	position: relative;
}

.modal-container .modal-footer {
	padding: .8rem;
	text-align: right;
}

.btn.btn-clear {
	background: transparent;
	border: 0;
	color: currentColor;
	height: 1rem;
	line-height: .8rem;
	margin-left: .2rem;
	margin-right: -2px;
	opacity: 1;
	padding: .1rem;
	text-decoration: none;
	width: 1rem;
}

.btn.btn-clear:focus,
.btn.btn-clear:hover {
	background: rgba(247, 248, 249, .5);
	opacity: .95;
}

.btn.btn-clear::before {
	content: "\2715";
}

.float-right {
	float: right !important;
}
